@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    background-image: url("/client/src/imgs/bodybackground.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    display: grid;
    grid-template-columns: 90% 10%;
}

.cwi-div {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.cwi {
    justify-self: center;
    font-size: 10rem;
    
}

.temp-div {
    display: grid;
    grid-template-rows: auto;
    align-items: baseline;
    justify-content: center;
}

.future-wcast {
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    color: aliceblue;
}

.fwc-day {
    border-color:aliceblue;
    border-radius: 10px;
    border-style: solid;
    padding: 3%;
    min-width: 20%;
}